@media(max-width:767px){
    main{
        padding: 1vh 0;
    }
    
    .main-content{
        padding: 10px 15px;
        width: 99%;
    }
    
    
    .nofications h1{
        font-size: 18px;
        line-height: 28px;
    }
    
    .nofication-number{
        font-size: 12px;
    }
    
    /* nofications */

    
    .nofication img{
        width: 40px;
        height: 40px;
    }
    
    .time{
        font-size: 11px;
        line-height: 21px;
        color: var(--Grayishblue);
    }
    
    .msg{
        width: 100%;
        margin-right: 1rem;
    }
}